@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
}

html.dark body {
  @apply bg-gray-800;
}

.text-atma {
  font-family: "Atma", cursive;
}

.text-mada {
  font-family: "Mada", sans-serif;
}

.text-yellow {
  color: #ffdb20;
}

.text-green {
  color: #78b07c;
}

.text-gradient {
  background: #8ddc93;
  background: -webkit-linear-gradient(
    to bottom right,
    #8ddc93 0%,
    #ffdb20 100%
  );
  background: -moz-linear-gradient(to bottom right, #8ddc93 0%, #ffdb20 100%);
  background: linear-gradient(to bottom right, #8ddc93 0%, #ffdb20 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-image-fruit {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
